.overflow{
  width: 100%;
  overflow:auto;
  max-height:25rem; 
  background-color: #ffffff;
}
.canvas{
  margin: auto !important;
}
.form-select{
  display: inline !important;
  width: 72% !important;
}
.card-body {
  min-height: 388px;
}
